{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    <li>
        <form method="post" id="export-form" novalidate>
            {% csrf_token %}
            <label for="id_company">{% trans 'Company' %}:</label>
            <select name="company" id="id_company">
                <option value="" selected>{% trans 'All' %}</option>
                {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                {% endfor %}
            </select>
            <label for="id_device">{% trans 'Device' %}:</label>
            <select name="device" id="id_device">
                <option value="" selected>{% trans 'All' %}</option>
            </select>
            <label for="id_start_date">{% trans 'Start Date' %}:</label>
            <input type="date" name="start_date" id="id_start_date">
            <label for="id_end_date">{% trans 'End Date' %}:</label>
            <input type="date" name="end_date" id="id_end_date">
            <input type="submit" name="_export_data" value="{% trans 'Export Data' %}" class="button" />
        </form>
    </li>
    {{ block.super }}
{% endblock %}

{% block extrahead %}
<style>
    .form-label {
        font-weight: bold;
        color: #007bff;
        margin-right: 10px;
    }
    .form-select,
    .form-control {
        width: 150px;
        padding: 5px;
        margin-right: 10px;
    }
    .btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #0056b3;
    }
</style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function updateDevicesDropdown(selectedCompanyId) {
                $.ajax({
                    url: "{% url 'get_devices_for_company' %}",
                    data: {
                        company_id: selectedCompanyId || ''
                    },
                    success: function (data) {
                        const devicesDropdown = $("#id_device");
                        devicesDropdown.empty();
                        devicesDropdown.append('<option value="" selected>{% trans "All" %}</option>');
                        data.devices.forEach(function (device) {
                            devicesDropdown.append('<option value="' + device.id + '">' + device.dev_name + '</option>');
                        });
                    },
                    error: function (xhr, textStatus, error) {
                        console.log(xhr.statusText);
                    }
                });
            }

            $("#id_company").change(function () {
                const selectedCompanyId = $("#id_company").val();
                updateDevicesDropdown(selectedCompanyId);
            });

            // Initialize devices dropdown on page load
            updateDevicesDropdown('');
        });
    </script>
{% endblock %}
